* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333333;
    font-size: 16px;
    line-height: 26px;
}

.conteudo {
    width: 80%;
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.bloco-de-recusos {
    text-align: center;
    width: 30%;
    margin: 50px 0 15px 0;
}

.bloco-de-recusos i {
    font-size: 48px;
}

.cor-verde {
    color: #28F5BE;
}

.cor-rosa {
    color: #FF3773;
}

.titulo-bloco-de-recusos {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
}

.todos-os-blocos-de-recursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.titulo-de-sessao {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.titulo {
    margin: 8px 0px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
}

.sub-titulo {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

/* Cabeçalho */
.cabecalho {
    background-color: white;
    /* box-shadow: 0px 1px 0px #E5E9F2; */
    border-bottom: 1px solid #E5E9F2;
    padding: 26px 0;
}

.conteudo-do-header,
.conteudo-conquistas,
.blocos-de-numeros {
    display: flex;
    justify-content: space-between;
}

.informacoes-do-cabecalho,
.informacoes-do-cabecalho nav {
    display: flex;
    align-items: center;
}

.informacoes-do-cabecalho img,
.informacoes-do-cabecalho nav a {
    margin-right: 32px;
}

.informacoes-do-cabecalho nav a {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: #18191F;
}

.botoes-lojas a {
    margin-right: 12px;
    text-decoration: none;
}

/* Geral */
.titulo-principal {
    font-weight: 800;
    font-size: 72px;
    line-height: 98px;
    margin-bottom: 32px;
}

.botao {
    background: #28F5BE;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    padding: 16px 67px;
    border-radius: 8px;
}

.botao:hover {
    background: #FF3773;  
}

/* Banner Principal */
.banner-princial {
    background-image: url(../imagens/bg-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    padding-top: 96px;
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nossas conquistas */
.todas-nossas-conquistas {
    padding-top: 82px;
    padding-bottom: 82px;
}

.coluna,
.blocos-de-conquistas {
    width: 45%;
}

.blocos-de-numeros {
    flex-wrap: wrap;
}

.blocos-de-conquistas,
.conteudo-vamos-la {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.blocos-de-conquistas i {
    font-size: 26px;
    margin-right: 16px;
}

/* Vamos lá */
.todo-conteudo-vamos-la{
    padding: 64px 0;
}

.conteudo-vamos-la {
    justify-content: space-between;
}

.link-roxo {
    font-size: 20px;
    font-weight: bold;    
    color: #9B51E0;
    text-decoration: none;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.link-roxo i {
    margin-left: 8px;
}