/* Genrencia de projetos */
.todo-conteudo-gerencia-projetos {
    background: var(--cor-rosa);
    color: var(--cor-branca);
    padding: 68px 0;
}

.todo-conteudo-gerencia-projetos .botoes-lojas {
    margin-top: 48px;
}


