/* Vamos lá */
.todo-conteudo-vamos-la{
    padding: 64px 0;
}

.conteudo-vamos-la,
.conteudo-gerencia-projetos {
    justify-content: space-between;
}

.link-roxo {
    font-size: 20px;
    font-weight: bold;    
    color: #9B51E0;
    text-decoration: none;
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.link-roxo i {
    margin-left: 8px;
}
